@charset "utf-8";
/* CSS Document */
body {
  padding-top: 50px;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-color: #cccccc;
  }


.gameP{
  background-color: rgb(183, 184, 189);
  border-radius: 5px;
  padding: 10px;
}
.gameSectionH2{
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  text-align: right;
  background-image: linear-gradient(to left ,rgb(255,255,255),rgba(0, 0, 0, 0));
}


#lastGameP{
  text-align: right;
}






